<div *ngIf="element">
  <app-usuario
    [usuario]="usuario"
    *ngFor="let usuario of usuarios"
    (click)="hide(usuario)"
  ></app-usuario>
  <div class="center">
    <button id="crear" (click)="hide(null)">Crear Usuario Nuevo</button>
  </div>
</div>
<div id="formulario" *ngIf="element == false">
  <app-formulario
    [usuario]="modificado"
    (nuevoUsuario)="nuevoUsuario($event)"
  ></app-formulario>
  <br />
  <div class="center">
    <button id="cancelar" (click)="show()">Cancelar</button>
  </div>
</div>

<style>
  .center {
    display: flex;
    justify-content: center;
  }
</style>
